---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Welcome to GlowUp!</h1>
			<p>
				Currently, We Only Deliver within United States!
                                If you want to buy luxurious yet affordable SkinCare/MakeUp/HairCare,
                                Visit at: <a href="https://glowup-beautystore.myshopify.com">GlowUp-BeautyStore</a>
                                
			</p>
			<p>
                                If you want to earn with us, we give 20% Commission per sale with an average commission of $3 per product!
                                Mode of payment is paypal and processed monthly!
                                Register at: <a href="https://af.uppromote.com/GlowUp-BeautyStore/register">Affiliate</a>
			</p>
			<p>how to get started with affiliate:</p>
			<ul>
				<li>Sign Up for Free – Join our affiliate program in minutes. No fees, no hassle!</li>
				<li>Get Your Unique Link – We’ll provide you with a personalized referral link.</li>
				<li>Promote & Share – Post on TikTok, Instagram, YouTube, or your blog.</li>
				<li>Earn 20% Commission – Every time someone purchases through your link, you get paid!</li>
			</ul>
		<Footer />
	</body>
</html>
